//voglio importare variables.scss
@import "./variables";
@import "~bootstrap/scss/bootstrap";

.bg-nav {
    background-color: $first;
}

.myButton {
    padding: 10px;
    border: 2px solid $first;
    background-color: transparent;
    text-decoration: none;
    color: white;
    cursor: pointer;
}